.bigDeco {
    position: relative;
    background-color: #222222;
}

.bigDeco::after {
    position: absolute;
    content: '';
    background-image: url(../images/main/black-fire.svg);
    background-repeat: no-repeat;
    background-position: 83%;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
}

.bigDeco-wrapper {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.title-content {
    padding-top: 131px;
    max-width: 382px;
}

.title-title {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 40px;
    display: block;
}

.title-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8A8B90;
    margin-bottom: 46px;
}

.title-link-about {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.big-content {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 276px;
    line-height: 48px;
    color: white;
    margin-top: 82px;
}

.big-item-wrap {
    position: relative;
    width: 67%;
    display: flex;
    flex-direction: column;
    padding: 131px 0 231px;
}

.big-item-wrap::after {
    position: absolute;
    content: '';
    top: 0;
    background-image: url(../images/main/bioflares2.png);
    background-repeat: no-repeat;
    background-position: 106px top;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.big-content-bottom {
    align-self: end;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 217px;
    line-height: 48px;
    color: white;
}

.big-top {
    display: flex;
    align-items: baseline;
    padding-left: 89px;
    z-index: 2;
}

.big-bottom {
    margin-top: 209px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    padding-right: 107px;
}

.big-content-text.bottom {
    padding-top: 91px;
    align-self: end;
}

.fire-content {
    position: relative;
    max-width: 568px;
    display: flex;
    flex-direction: column;
    padding: 151px 219px 123px 133px;
    z-index: 2;
    background-color: #fff;
}

.fire-content::after {
    content: '';
    position: absolute;
    background-image: url(../images/main/big-img2.jpg);
    background-repeat: no-repeat;
    background-position: right;
    width: 112%;
    height: 100%;
    left: -112%;
    bottom: 0;
}

.fire-text {
    margin-bottom: 25px;
}

.deco-fire-bottom {
    display: flex;
    justify-content: end;
    width: 50%;
    position: absolute;
    bottom: 0;
}

.fire-text-bottom {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}

@media (max-width: 1400px) {
    .big-top {
        flex-direction: column;
    }

    .big-content-text {
        padding-top: 95px;
    }

    .big-content-bottom,
    .big-content-text.bottom {
        align-self: end;
    }
}

@media (max-width: 1300px) {
    .fire-content {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 114px 205px 112px 101px;
        z-index: 2;
    }
}

@media (max-width: 1200px) {
    .big-item-wrap {
        padding: 55px 0 55px;
    }

    .big-bottom {
        margin-top: 250px;
    }

    .title-content {
        display: none;
    }

    .big-item-wrap {
        width: 100%;
    }

    .deco-fire-bottom {
        bottom: inherit;
    }

    .big-item-wrap::after {
        background-size: 67%;
    }

    .deco-fire-bottom {
        display: block;
        width: 100%;
    }

    .fire-content {
        max-width: 100%;
        padding: 50px 0 50px;
        align-items: center;
    }

    .fire-content::after {
        bottom: -100%;
        background-size: cover;
        left: 0;
        width: 100%;
    }

    .fire-text-bottom {
        display: block;
        text-align: center;
    }
}

@media (max-width: 860px) {

    .big-top {
        padding-left: 0;
    }

    .big-item-wrap::after {
        background-position: 23% top;
    }

    .bigDeco::after {
        background-position: 164%;
        background-size: 65%;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .big-item-wrap {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 30px 0 30px;
    }

    .big-content-bottom,
    .big-content {
        font-size: 170px;
    }

    .big-bottom {
        margin-top: 170px;
    }
}

@media (max-width: 750px) {
    .big-item-wrap::after {
        background-size: 75%;
    }
}

@media (max-width: 550px) {
    .fire-content::after {
        background-image: url(../images/main/big-img.jpg);
    }
    .big-item-wrap::after {
        background-position: 185% top;
        background-size: 90%;
    }

    .bigDeco::after {
        background-position: 250%;
        background-size: 82%;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .big-content-bottom,
    .big-content-text.bottom {
        align-self: start;
    }

    .big-content-bottom,
    .big-content {
        font-size: 132px;
    }

    .big-bottom {
        margin-top: 170px;
        flex-direction: unset;
        padding-right: 0;
    }

    .big-content-text.bottom {
        padding-top: 27px;
        margin-left: 10px;
    }

    .big-content-text {
        padding-top: 51px;
    }

    .big-item-wrap {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 9px 0 45px;
    }

    .fire-text-bottom {
        font-size: 25px;
    }

    .fire-text {
        margin-bottom: 0;
        max-width: 110px;
    }

    .deco-logo {
        width: 100%;
    }
}

@media (max-width: 420px) {
    .big-bottom {
        margin-top: 77px;
        flex-direction: unset;
        padding-right: 0;
    }

    .fire-text-bottom {
        font-size: 22px;
    }
    .big-item-wrap::after {
        background-position: 185% top;
        background-size: 85%;
    }
}