.listing-wrapper {
    margin-top: 74px;
    padding: 0 10px;
}

.listing-wrapper-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 31px;
}

.listing-title {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #232427;
}

.listing-decor {
    flex-grow: 1;
    flex-shrink: 1;
    height: 1px;
    background: #DDE3EA;
    margin: 0 10px;
}

.listing-scroll-decor {
    display: block;
    background-image: url(../images/icons/scloll-decor.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
}

.listing-inner {
    overflow-x: auto;
}

.listing-wrapper-category {
    display: flex;
}

.listing-item-category {
    margin-right: 10px;
    padding: 20px 34px;
    border: 1px solid #C8C8C8;
}

.listing-item-category {
    margin-right: 10px;
    padding: 20px 34px;
    border-radius: 10px;
    border: 1px solid #C8C8C8;
}

.listing-item-category.active {
    background-color: #1D1D1D;
    transition: all .1s ease;
}

.listing-link {
    position: relative;
    background-color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #808080;
}

.listing-item-category.active .listing-link {
    margin-left: 20px;
    background-color: #1D1D1D;
    color: white;
}

.listing-item-category.active .listing-link::before {
    position: absolute;
    width: 12px;
    height: 1px;
    left: -27px;
    top: 9px;
    transform: rotate(45deg);
    content: '';
    background-color: #fff;
    z-index: 1;
}

.listing-item-category.active .listing-link::after {
    position: absolute;
    width: 12px;
    height: 1px;
    left: -27px;
    top: 9px;
    transform: rotate(-45deg);
    content: '';
    background-color: #fff;
    z-index: 1;
}

.section-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 4px;
    row-gap: 32px;
    padding: 62px 0 104px;
    border-bottom: 1px solid #D8DCE5;
}

.catalog-card-item {
    display: flex;
    flex-direction: column;
    max-width: 356px;
}

.catalog-card-img {
    width: 100%;
}

.card-top {
    position: relative;
    max-width: 356px;
}

.card-wrapper-sale {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    width: 100%;
    position: absolute;
    bottom: 24px;
}

.card-favourites {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-sales {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border: 1px solid #D2D2D2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF5710;
}

.card-content-wrapper {
    margin-top: 28px;
    padding: 0 15px;
}

.card-price {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
    padding-bottom: 19px;
}

.card-price-old {
    font-size: 14px;
    line-height: 145%;
    text-align: center;
    text-decoration-line: line-through;
    color: #8A8B90;
}

.card-price-new {
    padding-right: 15px;
    font-weight: 600;
    font-size: 18px;
    line-height: 145%;
    color: #232427;
}

.card-description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #232427;
    margin-bottom: 10px;
}

.detailed {
    padding-top: 19px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.detailed-text {
    color: #FF5710;
}

.pagination-wrapper {
    padding: 40px 0 145px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-item {
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #232427;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 35px;
}

.pagination-item.current {
    width: 30px;
    height: 30px;
    border: 1px solid #FF5710;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FF5710;
}

.prev-page,
.next-page {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #8A8B90;
    width: 135px;
}

.prev-page::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 10px;
    background-image: url(../images/icons/prev-page-pagination.svg);
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    top: 3px;
}

.next-page::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 10px;
    background-image: url(../images/icons/next-page-pagination.svg);
    background-repeat: no-repeat;
    background-position: center;
    right: 0;
    top: 3px;
}

.prev-page:hover.prev-page::after{
    background-image: url(../images/icons/prev-page-pagination-hov.svg);
    transition: all .3s ease-in-out;
}

.next-page:hover.next-page::after{
    background-image: url(../images/icons/next-page-pagination-hov.svg);
    transition: all .3s ease-in-out;
}

.prev-page span {
    margin-left: 16px;
    color: #8A8B90;
}

.prev-page span:hover {
    color: #FF5710;
    transition: all .3s ease-in-out;
}

.next-page span {
    margin-right: 16px;
    color: #8A8B90;
}

.next-page span:hover {
    color: #FF5710;
    transition: all .3s ease-in-out;
}

.breadcrumbs-link:hover {
    color: #FF5710;
    transition: all .3s ease-in-out;
}

@media (max-width: 1100px) {
    .card-price-new {
        font-size: 20px;
    }
}

@media (max-width: 960px){
    .section-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .section-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .pagination-item {
        margin: 0 10px;
    }

    .next-page span,
    .prev-page span {
        visibility: hidden;
    }

    .prev-page,
    .next-page {
        width: 20px;
    }

    .card-price-new {
        font-size: 17px;
    }
}

@media (max-width: 420px){
    .section-wrapper {
        grid-template-columns: repeat(1, 1fr);
        border-radius: 10px 10px 0 0;
    }
    .pagination-item {
        margin: 0 5px;
    }

}