.our-works {
    padding: 80px 10px 142px;
    background: #FAFAFA;
    overflow: hidden;
}

.our-works-title {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #000;
    margin-bottom: 32px;
}

.our-works-inner {
    position: relative;
}

.our-works-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 42%;
    background-color: #FAFAFA;
    z-index: 2;
    right: -72px;
    top: 0;
    height: 100%;
    padding: 0 88px;
}


.works-subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-top: 40px;
}

.our-works-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4D4F57;
    margin-top: 40px;
    margin-bottom: 18px;
    max-width: 423px;
}

.about-works {
    padding: 20px;
    width: 100%;
    background: #F3F3F3;
    border-radius: 10px;
}

.about-works span {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FF5710;
}

.our-works-item {
    max-width: 265px;
    height: 454px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
}

.our-works-bg {
    max-width: 265px;
    height: 168px;
    padding-bottom: 22px;
}

.works-content-wrapper {
    position: absolute;
    content: '';
    width: 473px;
    height: 400px;
    background-color: #fff;
    right: 0;
    top: 0;
    z-index: 3;
}
.progress-bar-video {
    width: calc(100% - 40px);
    height: 1px;
    background-color: #ccc;
}

@media (max-width: 768px) {
    .works-subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #232427;
    }
    .our-works-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #4D4F57;
    }
}

    @media (max-width: 360px) {
    .wrap-arrows {
        display: none;
    }
}

